!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! CUSTOM THEME
!*.foreground:   #d7d0c7
!*.background:   #181818
!*.cursorColor:  #d7d0c7

! ! black
!*.color0:       #101010
!*.color8:       #404040

! ! red
!*.color1:       #e84f4f
!*.color9:       #d23d3d

! ! green
!*.color2:       #b8d68c
!*.color10:      #a0cf5d

! ! yellow
!*.color3:       #e1aa5d
!*.color11:      #d79921

! ! blue
!*.color4:       #d3839b
!*.color12:      #4e9fb1

! ! magenta
!*.color5:       #9b64fb
!*.color13:      #8542ff

! ! cyan
!*.color6:       #6d878d
!*.color14:      #42717b

! ! white
!*.color7:       #dddddd
!*.color15:      #dddddd

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ZENBURN
! *.foreground:   #DCDCCC
! *.background:   #3F3F3F
! *.cursorColor:  #BFBFBF

! ! black
! *.color0:       #3F3F3F
! *.color8:       #7F7F7F

! ! red
! *.color1:       #CC9393
! *.color9:       #9C6363

! ! green
! *.color2:       #7F9F7F
! *.color10:      #5F7F5F

! ! yellow
! *.color3:       #F0DFAF
! *.color11:      #D0BF8F

! ! blue
! *.color4:       #8CD0D3
! *.color12:      #94BFF3

! ! magenta
! *.color5:       #DC8CC3
! *.color13:      #CB7BB2

! ! cyan
! *.color6:       #93E0E3
! *.color14:      #82CFD2

! ! white
! *.color7:       #DCDCCC
! *.color15:      #FFFFEF

! *background: #282828
! ! soft contrast: *background: #32302f
! *foreground: #ebdbb2
! ! Black + DarkGrey
! *color0:  #282828
! *color8:  #928374
! ! DarkRed + Red
! *color1:  #cc241d
! *color9:  #fb4934
! ! DarkGreen + Green
! *color2:  #98971a
! *color10: #b8bb26
! ! DarkYellow + Yellow
! *color3:  #d79921
! *color11: #fabd2f
! ! DarkBlue + Blue
! *color4:  #458588
! *color12: #83a598
! ! DarkMagenta + Magenta
! *color5:  #b16286
! *color13: #d3869b
! ! DarkCyan + Cyan
! *color6:  #689d6a
! *color14: #8ec07c
! ! LightGrey + White
! *color7:  #a89984
! *color15: #ebdbb2
! special
! special

*.foreground:   #c0c0c0
*.background:   #121212
*.cursorColor:  #c0c0c0

! black
*.color0:       #080808
*.color8:       #36393f

! red
*.color1:       #515978
*.color9:       #778099

! green
*.color2:       #3ea28d
*.color10:      #71c4ba

! yellow
*.color3:       #4dc5ce
*.color11:      #5e767f

! blue
*.color4:       #6ea2a5
*.color12:      #6abdc1

! magenta
*.color5:       #a8a8a8
*.color13:      #4e4d80

! cyan
*.color6:       #558188
*.color14:      #4fc8ce

! white
*.color7:       #c0c0c0
*.color15:      #a6a8aa

! *.foreground: #e4e4ef
! *.background: #181818
! *.color0:  #2E3436
! *.color1:  #a40000
! *.color2:  #4E9A06
! *.color3:  #C4A000
! *.color4:  #3465A4
! *.color5:  #75507B
! *.color6:  #ce5c00
! *.color7:  #babdb9
! *.color8:  #555753
! *.color9:  #EF2929
! *.color10: #8AE234
! *.color11: #FCE94F
! *.color12: #729FCF
! *.color13: #AD7FA8
! *.color14: #fcaf3e
! *.color15: #EEEEEC


Xcursor.size: 12
*.alpha: 1
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

xterm*font:-dosemu-vga-Medium-R-Normal--32-320-75-75-C-80-IBM-CP437
