!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Apprentice colorscheme
! special
!*.foreground:   #bcbcbc
!*.background:   #151515
!*.cursorColor:  #bcbcbc

! black
!*.color0:       #1c1c1c
!*.color8:       #444444

! red
!*.color1:       #af5f5f
!*.color9:       #ff8700

! green
!*.color2:       #5f875f
!*.color10:      #87af87

! yellow
!*.color3:       #87875f
!*.color11:      #ffffaf

! blue
!*.color4:       #5f87af
!*.color12:      #8fafd7

! magenta
!*.color5:       #5f5f87
!*.color13:      #8787af

! cyan
!*.color6:       #5f8787
!*.color14:      #5fafaf

! white
!*.color7:       #6c6c6c
!*.color15:      #ffffff

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! CUSTOM THEME
! special
! *.foreground:   #d7d0c7
! *.background:   #181818
! *.cursorColor:  #d7d0c7

! ! black
! *.color0:       #101010
! *.color8:       #404040

! ! red
! *.color1:       #e84f4f
! *.color9:       #d23d3d

! ! green
! *.color2:       #b8d68c
! *.color10:      #a0cf5d

! ! yellow
! *.color3:       #e1aa5d
! *.color11:      #d79921

! ! blue
! *.color4:       #d3839b
! *.color12:      #4e9fb1

! ! magenta
! *.color5:       #9b64fb
! *.color13:      #8542ff

! ! cyan
! *.color6:       #6d878d
! *.color14:      #42717b

! ! white
! *.color7:       #dddddd
! *.color15:      #dddddd

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ZENBURN
! *.foreground:   #DCDCCC
! *.background:   #3F3F3F
! *.cursorColor:  #BFBFBF

! ! black
! *.color0:       #3F3F3F
! *.color8:       #7F7F7F

! ! red
! *.color1:       #CC9393
! *.color9:       #9C6363

! ! green
! *.color2:       #7F9F7F
! *.color10:      #5F7F5F

! ! yellow
! *.color3:       #F0DFAF
! *.color11:      #D0BF8F

! ! blue
! *.color4:       #8CD0D3
! *.color12:      #94BFF3

! ! magenta
! *.color5:       #DC8CC3
! *.color13:      #CB7BB2

! ! cyan
! *.color6:       #93E0E3
! *.color14:      #82CFD2

! ! white
! *.color7:       #DCDCCC
! *.color15:      #FFFFEF

*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

Xcursor.size: 20
*.alpha: 1
