* {
  border: none;
  font-size: 12px;
  font-family: "MesloLGS Nerd Font Mono";
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #81a2be;
}

#tags button {
  padding: 0 0px;
  background: transparent;
  color: #81a2be;
  border-bottom: 3px solid transparent;
}

#tags button.focused {
  border-bottom: 3px solid #ffffff;
}

#tags button.urgent {
  border-bottom: 3px solid #cc6666;
}

#tags button:hover {
  background: #373b41;
}

#mode,
#clock,
#pulseaudio,
#cpu,
#clock,
#memory {
  padding: 0 10px;
}
