* {
  font-size: 12px;
  font-family: monospace;
}

window#waybar {
  background: #0d0d0d;
  color: #fdf6e3;
}

#tags,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
  background: #0d0d0d;
  min-width: 0px;
}

#tags button {
  padding: 0 0;
  min-width: 16px;
  color: #fdf6e3;
}
#tags button.focused {
  color: #268bd2;
}
#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#tags button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
}
